<% if item.errors.any? %>
  <div id="error_explanation">
    <h3><%= item.errors.count %> 件のエラーが発生しました</h3>
    <ul>
      <% item.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>