<div class="container">
  <div class="row">
    <div class="col-4 offset-md-5">
     <h1>About</h1>
      <p>ながのCAKEは全国発送可能なケーキ屋です。<br>
        お子様からお年寄りの方までお召し上がられていただけるよう、<br>
          様々なバリデーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          　　ぜひご注文ください。
      </p>
      <%= image_tag '5193503_s.jpg', size: "300x300", alt: 'about画像' %>
    </div>
  </div>
</div>