<div class="container">
  <div class="row">
    <div class="col-7 offset-md-5">
      <p class="mt-3">
        ようこそ、　ながのCAKEへ!<br></p>
      <P class="mt-3">  このサイトは、ケーキ販売のECサイトになります。<br></p>
       <p class="mt-3"> 会員でない方も商品の閲覧はできますが、<br></p>
      <p class="mt-3">  購入には会員登録が必要になります。</p>

    　</div>
       <h2>新着商品</h2>
        <% @items.each do |item| %>
        <div>
      　　<p>
      　　  <%= image_tag item.image, size: "200x200" %>
      　　</p>
      　　<p><%= item.name %></p>
      　　￥<%= item.price.to_s(:delimited) %>
        </div>
      　<% end %>
      <p class><%= link_to "全ての商品を見る>", items_path %></p>
</div>
