<div>
  <p>
    ようこそ、　ながのCAKEへ!<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
 <h2>新着商品</h2>
  <div>
  <% @items.each do |item| %>
　　<p>
　　  <%= image_tag item.image, size: "200x200" %>
　　</p>
　　<p><%= item.name %></p>
　　￥<%= item.price.to_s(:delimited) %>
　<% end %>
  <p><%= link_to "全ての商品を見る>", items_path %></p>
</div>
