<div class="container">
 <h2>ジャンル編集</h2>
  <div class="row">
    <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
    <%= render 'admin/genres/errors', genre: @genre %>
      <div class="form-group">
        <label for="genre_name">ジャンル名</label>
        <%= f.text_field :name, autofocus: true, id: "genre_name", placeholder: "ジャンル名", class: "form-control name" %>
      </div>
      <div class="form-inline">
        <%= f.submit "変更を保存する", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
